$white: #fff;
$black: #000;
$corpBlack: #3e372c;
$darkestGray: #444340;
$darkGray: #787871;
$midGray: #999;
$lightGray: #ebebeb;
$lightestGray: #f4f7f8;
$red: #ef3d3c;
$darkBlue: #3b69a8;

$link: $red;
$linkHover: $red + #333;
$text: $darkGray;
$textLight: $white;
$textDark: $darkestGray;
$textBlack: $black;
$accent: $red;
$accentAlt: $darkBlue;
$bg: $white;
$bgSecondary: $lightestGray;
$bgDark: $darkestGray;

$base: 40px;
$radius: 5px;

$duration: 0.3s;
$easing: cubic-bezier(.785, .135, .15, .86);
$easingLight: ease;

$mainFont: 'Lato', sans-serif;
