footer.footer
    .container
        .row
            .footer__copyright.col-xs-24.col-sm-12
                img.footer__logo(src="/images/logo.png")
                p.small 2017. Todos los derechos reservados
                
            .footer__credits.col-xs-24.col-sm-12
                a(href="http://elemsoft.net") Diseño y Desarrollo por: Elemsoft
