.home {

    $h: &;

    &__section-title {
        text-align: center;
        color: $darkGray;
        margin: 0;
        color: $red;
        font-size: 24px;

        @include mq(md) {
            font-size: 36px;
        }
    }

    &__hero {
        padding: $base*2 0;

        &__slider {
            position: relative;

            &:before,
            &:after {
                content: '';
                position: absolute;
                bottom:30px;
                width: 90%;
                height: 0px;
                background: rgba(0,0,0,.3);
                box-shadow: 0 0 50px 10px rgba(0,0,0,.3);
                z-index:-1;
            }

            &:before{
                transform: rotate(-4deg);
            }
            &:after {
                transform: rotate(4deg);
                right: 0;
            }

            &__slide {
                background: red;
                img {
                    max-width: 100%;
                }
            }
        }
    }

    &__services{
        padding: $base*1.5 0;
        background: $bgSecondary;

        &__list {
            display: flex;
            flex-wrap: wrap;
            padding-top: $base;

            li {
                padding: 0 20px;
                max-width: 300px;
                flex-basis: 100%;
                text-align: center;

                @include mq(md) {
                    flex-basis: 25%;
                    text-align: left;
                }
            }
        }

        &__name{
            color:$red;
            text-align: center;
        }
    }

    &__products {
        padding: $base*1.5 0;

        &__slider {
            margin-top: $base;
        }

        &__slide{
            display: flex!important;
            flex-wrap: wrap;
        }

        &__image {
            flex-basis: 100%;
            display: flex;
            justify-content: center;

            @include mq(md) {
                flex-basis: 50%;
            }
        }

        &__data {
            flex-basis: 100%;
            background: $bgSecondary;
            padding: $base;
            position: relative;

            @include mq(md) {
                flex-basis: 50%;
            }
        }

        &__name {
            color:$red;
            margin: 0;
        }

        &__price {
            font-weight:300;
            position: relative;
            display: block;
            color:$red;
            font-size:2em;

            @include mq(md) {
                position: absolute;
                top:$base - 10px;
                right:$base;
            }
        }

        &__desc {
            font-size:18px;
            line-height: 28px;
            margin: $base/2 0;
        }
    }

    &__brands {
        padding: $base*1.5 0;

        .container{
            padding-top: $base;
        }

        &__img {
            text-align: center;
            margin-bottom: $base;

              img {
                  width: 120px;
                  height: auto;
                  filter:grayscale(100%);
              }
          }

    }

    &__clients {
        background: $bgSecondary;
        padding: $base*1.5 0;

        .container{
            padding-top: $base;
        }

        &__img {
            text-align: center;
            margin-bottom: $base;
            position: relative;
            height: 0;
            padding-bottom: 56.5%;
            overflow: hidden;

              img {
                  position: absolute;
                  top:0;
                  left:0;
                  width: 100%;
                  height: auto;
              }
          }

          &__name {
              color: $red;
              text-align: center;
          }
    }

    &__contact {
        background: $bgSecondary;
        padding: $base*1.5 0;

        .container {
            margin-top: $base;
        }

        h4{
            text-transform: uppercase;
            color:$darkBlue;
            margin: 0 0 $base/2;
        }

        ._data{
            margin-bottom: $base/2;

            @include mq(md){
                margin-bottom: 0;
            };
        }

        ._block{
            padding: $base/2;
            margin-bottom: $base/2;
            background: $white;

            @include mq(sm){
                padding: $base;
                margin-bottom: $base;
            };

            dt,dd{
                float:left;
            }
            dt{
                clear: left;
                width:25px;
                color:$red;
            }
            dd{
                width:calc(100% - 25px);
            }
        }
    }
}
